@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap');

$primary-color: #6b11cb;
$background-color: #2575fc;
$text-shadow-color: hsl(0, 0%, 95%);
$text-color: hsl(0, 0%, 100%);
$font-primary: 'Fredoka', sans-serif;
$font-heading: 'Luckiest Guy', cursive;
$spacing-small: 1rem;
$spacing-base: 2rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
 .joke-app {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-small;
  
  &__header {
    font-family: $font-heading;
    font-size: 2.5rem;
    color: lighten($primary-color, 5%);
    letter-spacing: 0.3rem;
    margin-bottom: $spacing-base;
    text-shadow: -3px -3px 0 darken($text-shadow-color, 5%),
    3px -3px 0 darken($text-shadow-color, 5%), -3px 3px 0 darken($text-shadow-color, 5%),
    3px 3px 0 darken($text-shadow-color, 5%), -3px 0 0 darken($text-shadow-color, 5%),
    3px 0 0 darken($text-shadow-color, 5%), 0 -3px 0 darken($text-shadow-color, 5%),
    0 3px 0 darken($text-shadow-color, 5%);
}

&__container {
    @include flex-center;
    flex-direction: row;
    justify-content: center;
    gap: $spacing-small;
    flex-wrap: wrap;    
}

&__card {
    @include flex-center;
    background: linear-gradient(to bottom, lighten($primary-color, 10%), $primary-color);
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 150px;
    width: 250px;
    max-width:100%;
    flex-basis: 100%;
    order: 1;
}

&__button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  order: 2;
}

&__button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 14px;
  
  color: $text-color;
  background-image: linear-gradient(145deg, $primary-color, lighten($background-color, 5%) 100%);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: transform 0.3s, border-radius 0.3s;
}

&__button-icon {
  width: 20px;
  height: 20px;
}
  

&__button:active .joke-app__button-top {
  border-radius: 8px 8px 8px 8px / 8px;
  transform: scale(-1px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
}

&__button-bottom {
  position: absolute;
  z-index: 1;
    top: 4px;
    left: 4px;
  border-radius: 15px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button-base {
  position: absolute;
  z-index: 0;
    top: 0;
    left: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button:active .joke-app__button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

&__button:active .joke-app__button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}

&__fav-header {
    font-size: 1.5rem;
    margin-top: $spacing-base;
    color: $background-color;
    letter-spacing: 0.1rem;
    margin-bottom: $spacing-base;
    text-shadow: -2px -2px 0 $text-shadow-color,
    2px -2px 0 $text-shadow-color, -2px 2px 0 $text-shadow-color,
    2px 2px 0 $text-shadow-color, -2px 0 0 $text-shadow-color,
    2px 0 0 $text-shadow-color, 0 -2px 0 $text-shadow-color,
    0 2px 0 $text-shadow-color; 
}

&__favorites {
    @include flex-center;
    gap: $spacing-small;
    flex-direction: column;
    flex-wrap: wrap;

}

&__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
   
}

&__favorite {
    @include flex-center;
    flex-direction: row;
    background: linear-gradient(to bottom, lighten($background-color, 10%), $background-color);
    font-size: $spacing-small;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 80px;
    width: 300px;
    max-width: 100%;
    gap: $spacing-small;
    order: 1;
}
}


@media screen and (min-width: 768px) {
 .joke-app {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-base;
  
  &__header {
    font-family: $font-heading;
    font-size: 3rem;
    color: lighten($primary-color, 5%);
    letter-spacing: 0.3rem;
    margin-bottom: $spacing-base;
    text-shadow: -3px -3px 0 darken($text-shadow-color, 5%),
    3px -3px 0 darken($text-shadow-color, 5%), -3px 3px 0 darken($text-shadow-color, 5%),
    3px 3px 0 darken($text-shadow-color, 5%), -3px 0 0 darken($text-shadow-color, 5%),
    3px 0 0 darken($text-shadow-color, 5%), 0 -3px 0 darken($text-shadow-color, 5%),
    0 3px 0 darken($text-shadow-color, 5%);
}

&__container {
    @include flex-center;
    flex-direction: row;
    gap: $spacing-small;
    flex-wrap: nowrap;    
}

&__card {
    @include flex-center;
    background: linear-gradient(to bottom, lighten($primary-color, 10%), $primary-color);
    font-size: 1.6rem;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 150px;
    width: 500px;
    max-width: 90%;
    order: 2;
}

&__button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
}

&__button:first-child {
  order: 1;
}

&__button:last-child {
  order: 3;
}

&__button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 14px;
  
  color: $text-color;
  background-image: linear-gradient(145deg, $primary-color, lighten($background-color, 5%) 100%);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: transform 0.3s, border-radius 0.3s;
}

&__button-icon {
  width: 20px;
  height: 20px;
}
  

&__button:active .joke-app__button-top {
  border-radius: 8px 8px 8px 8px / 8px;
  transform: scale(-1px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
}

&__button-bottom {
  position: absolute;
  z-index: 1;
    top: 4px;
    left: 4px;
  border-radius: 15px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button-base {
  position: absolute;
  z-index: 0;
    top: 0;
    left: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button:active .joke-app__button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

&__button:active .joke-app__button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}

&__fav-header {
    font-size: 2rem;
    margin-top: $spacing-base + 2rem;
    color: $background-color;
    letter-spacing: 0.1rem;
    margin-bottom: $spacing-base;
    text-shadow: -2px -2px 0 $text-shadow-color,
    2px -2px 0 $text-shadow-color, -2px 2px 0 $text-shadow-color,
    2px 2px 0 $text-shadow-color, -2px 0 0 $text-shadow-color,
    2px 0 0 $text-shadow-color, 0 -2px 0 $text-shadow-color,
    0 2px 0 $text-shadow-color; 
}

&__favorites {
    @include flex-center;
    gap: $spacing-base;
    flex-direction: column;
    flex-wrap: wrap;

}

&__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
   
}

&__favorite {
    @include flex-center;
    flex-direction: row;
    background: linear-gradient(to bottom, lighten($background-color, 10%), $background-color);
    font-size: 1rem;
    border-radius: 25px;
    padding: 20px 40px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 50px;
    width: 400px;
    max-width: 100%;
    gap: $spacing-base;
    flex-basis: 100%;
}
}
}