@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap');

$primary-color: #6b11cb;
$background-color: #2575fc;
$text-shadow-color: #f2f2f2; 
$text-color: #ffffff;
$font-primary: 'Fredoka', sans-serif;
$font-heading: 'Luckiest Guy', cursive;
$spacing-small: 1rem;
$spacing-base: 2rem;
$disable-fav-color: brightness(0) saturate(100%) invert(27%) sepia(98%) saturate(3066%) hue-rotate(259deg) brightness(89%) contrast(107%);

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin table-and-desktop () {
  @media only screen and (min-width: 768px) {
    @content;
  }
}