@use "variables" as *;

body, html {
  margin: 0;
  padding: 0;
}

.joke-app {
  @include flex-center;
  flex-direction: column;
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-small;
  min-height: 100vh;

  @include table-and-desktop() {
    padding: $spacing-base;
  }
  
  &__header {
    font-family: $font-heading;
    font-size: 2.5rem;
    color: lighten($primary-color, 5%);
    letter-spacing: 0.3rem;
    margin-bottom: $spacing-base;
    text-shadow: -3px -3px 0 darken($text-shadow-color, 5%),
    3px -3px 0 darken($text-shadow-color, 5%), -3px 3px 0 darken($text-shadow-color, 5%),
    3px 3px 0 darken($text-shadow-color, 5%), -3px 0 0 darken($text-shadow-color, 5%),
    3px 0 0 darken($text-shadow-color, 5%), 0 -3px 0 darken($text-shadow-color, 5%),
    0 3px 0 darken($text-shadow-color, 5%);

    @include table-and-desktop() {
      font-size: 4rem;
    }
}

&__container {
  @include flex-center;
  flex-direction: row;
  justify-content: center;
  gap: $spacing-small;
  flex-wrap: wrap;   

  @include table-and-desktop() {
    flex-wrap: nowrap;  
  }
}

&__card {
  @include flex-center;
    background: linear-gradient(to bottom, lighten($primary-color, 10%), $primary-color);
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: fit-content;
    width: 250px;
    max-width:100%;
    flex-basis: 100%;
    order: 1;

    @include table-and-desktop() {
      font-size: 1.6rem;
      height: fit-content;
      width: 500px;
      max-width: 100%;
      order: 2;
    }
}

&__button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  order: 2;

  @include table-and-desktop() {
    &:first-child {
      order: 1;
    }

    &:last-child {
      order: 3;
    }
}
}

&__button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 14px;
  color: $text-color;
  background-image: linear-gradient(145deg, $primary-color, lighten($background-color, 5%) 100%);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: transform 0.3s, border-radius 0.3s;

  @include table-and-desktop() {
    font-size: 2rem;
  }
}

&__button-icon {
  width: 20px;
  height: 20px;
}

&__disable-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s, filter 0.3s;
}
  
&__disable-icon:hover {
  cursor: pointer;
  filter: $disable-fav-color;
  transform: scale(1.5);
}


&__button:active .joke-app__button-top {
  border-radius: 8px 8px 8px 8px / 8px;
  transform: scale(-1px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
}

&__button-bottom {
  position: absolute;
  z-index: 1;
    top: 4px;
    left: 4px;
  border-radius: 15px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-image: linear-gradient(145deg, $background-color, $primary-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button-base {
  position: absolute;
  z-index: 0;
    top: 0;
    left: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

&__button:active .joke-app__button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

&__button:active .joke-app__button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}

&__fav-header {
    font-size: 1.5rem;
    margin-top: $spacing-base;
    color: $background-color;
    letter-spacing: 0.1rem;
    margin-bottom: $spacing-base;
    text-shadow: -2px -2px 0 $text-shadow-color,
    2px -2px 0 $text-shadow-color, -2px 2px 0 $text-shadow-color,
    2px 2px 0 $text-shadow-color, -2px 0 0 $text-shadow-color,
    2px 0 0 $text-shadow-color, 0 -2px 0 $text-shadow-color,
    0 2px 0 $text-shadow-color; 
    
    @include table-and-desktop() {
      font-size: 2rem;
      margin-top: $spacing-base + 2rem;
    }
}

&__favorites {
    @include flex-center;
    gap: $spacing-small;
    flex-direction: column;
    flex-wrap: wrap;

    @include table-and-desktop() {
      gap: $spacing-base;
    }
}

&__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @include table-and-desktop() {
      max-width: 600px;
    }
}

&__favorite {
    @include flex-center;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, lighten($background-color, 10%), $background-color);
    font-size: $spacing-small;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    min-height: 80px;
    height: fit-content;
    width: 250px;
    max-width: 100%;
    gap: $spacing-small;
    order: 1;

    @include table-and-desktop() {
      font-size: 1rem;
      padding: 20px 40px;
      height: 50px;
      width: 450px;
      gap: $spacing-base;
      flex-basis: 100%;
}
&__button-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: $primary-color;
}
}
}


