@use "variables" as *;

body,
html {
  margin: 0;
  padding: 0;
}

.joke-app {
  @include flex-center;
  flex-direction: column;
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-small;
  min-height: 100vh;

  @include table-and-desktop() {
    padding: $spacing-base;
  }

  @include dark-mode-manual {
    background-color: $background-darkmode-color;
    color: $text-color;
  }

  &__header {
    font-family: $font-heading;
    font-size: 2.5rem;
    color: lighten($primary-color, 5%);
    letter-spacing: 0.3rem;
    margin-bottom: $spacing-base;
    text-shadow: -3px -3px 0 darken($text-shadow-color, 5%),
      3px -3px 0 darken($text-shadow-color, 5%),
      -3px 3px 0 darken($text-shadow-color, 5%),
      3px 3px 0 darken($text-shadow-color, 5%),
      -3px 0 0 darken($text-shadow-color, 5%),
      3px 0 0 darken($text-shadow-color, 5%),
      0 -3px 0 darken($text-shadow-color, 5%),
      0 3px 0 darken($text-shadow-color, 5%);

    @include table-and-desktop() {
      font-size: 4rem;
    }

    @include dark-mode-manual {
      color: lighten($primary-darkmode-color, 5%);
    }
  }

  &__container {
    @include flex-center;
    flex-direction: row;
    justify-content: center;
    gap: $spacing-small;
    flex-wrap: wrap;

    @include table-and-desktop() {
      flex-wrap: nowrap;
      min-height: 30vh;
    }
  }

  &__card {
    @include flex-center;
    background: linear-gradient(
      to bottom,
      lighten($primary-color, 10%),
      $primary-color
    );
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: fit-content;
    width: 250px;
    max-width: 100%;
    flex-basis: 100%;
    order: 1;

    @include table-and-desktop() {
      font-size: 1.6rem;
      height: fit-content;
      width: 500px;
      max-width: 100%;
      order: 2;
    }

    @include dark-mode-manual {
      background: linear-gradient(
        to bottom,
        lighten($primary-darkmode-color, 10%),
        $primary-darkmode-color
      );
      color: $text-color;
    }
  }

  &__button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 8px;
    min-width: 4em;
    min-height: 4em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
    order: 2;

    @include table-and-desktop() {
      &:first-child {
        order: 1;
      }
      &:last-child {
        order: 3;
      }
    }
  }

  &__button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 14px;
    color: $text-color;
    background-image: linear-gradient(
      145deg,
      $primary-color,
      lighten($background-color, 5%) 100%
    );
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: transform 0.3s, border-radius 0.3s;

    @include table-and-desktop() {
      font-size: 2rem;
    }

    @include dark-mode-manual {
      background-image: linear-gradient(
        145deg,
        $primary-darkmode-color,
        lighten($background-darkmode-color, 5%) 100%
      );
      color: $text-color;
    }
  }

  &__button-icon {
    width: 20px;
    height: 20px;
  }

  &__disable-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s, filter 0.3s;
  }

  &__disable-icon:hover {
    cursor: pointer;
    filter: $disable-fav-color;
    transform: scale(1.5);

    @include dark-mode-manual {
      filter: $disable-fav-color-darkmode;
    }
  }

  &__button:active &__button-top {
    border-radius: 8px 8px 8px 8px / 8px;
    transform: scale(-1px);
    background-image: linear-gradient(
      145deg,
      $background-color,
      $primary-color
    );

    @include dark-mode-manual {
      background-image: linear-gradient(
        145deg,
        $background-darkmode-color,
        $primary-darkmode-color
      );
    }
  }

  &__button-bottom {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    border-radius: 15px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-image: linear-gradient(
      145deg,
      $background-color,
      $primary-color
    );
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
    transition: border-radius 0.2s, padding-top 0.2s;

    @include dark-mode-manual {
      background-image: linear-gradient(
        145deg,
        $background-darkmode-color,
        $primary-darkmode-color
      );
    }
  }

  &__button-base {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.75),
      inset 0 1px 1px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.2s, padding-top 0.2s;

    @include dark-mode-manual {
      background-color: rgba(200, 200, 200, 0.1);
      box-shadow: 0 0px 2px 0 rgba(200, 200, 200, 0.75),
        inset 0 1px 1px rgba(0, 0, 0, 0.25);
    }
  }

  &__button:active &__button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
  }

  &__button:active &__button-base {
    border-radius: 10px 10px 8px 8px / 8px;
  }

  &__button-icon-settings {
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s;

    @include table-and-desktop() {
      height: 45px;
      width: 45px;
      top: 40px;
      right: 40px;
    }
  }

  &__button-icon-settings:hover {
    transform: rotate(90deg);
    color: $primary-color;

    @include dark-mode-manual {
      color: lighten($primary-darkmode-color, 5%);
    }
  }

  &__fav-header {
    font-size: 1.5rem;
    margin-top: $spacing-base;
    color: $background-color;
    letter-spacing: 0.1rem;
    text-shadow: -2px -2px 0 $text-shadow-color, 2px -2px 0 $text-shadow-color,
      -2px 2px 0 $text-shadow-color, 2px 2px 0 $text-shadow-color,
      -2px 0 0 $text-shadow-color, 2px 0 0 $text-shadow-color,
      0 -2px 0 $text-shadow-color, 0 2px 0 $text-shadow-color;

    @include table-and-desktop() {
      font-size: 2rem;
      margin-top: $spacing-base + 2rem;
    }

    @include dark-mode-manual {
      color: lighten($background-darkmode-color, 5%);
    }
  }

  &__favorites {
    @include flex-center;
    gap: $spacing-small;
    flex-direction: column;
    flex-wrap: wrap;

    @include table-and-desktop() {
      gap: $spacing-base;
    }
  }

  &__list {
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @include table-and-desktop() {
      max-width: 600px;
    }
  }

  &__no-favorites {
    font-size: $spacing-small;
    color: lighten($text-color, 20%);
    text-align: center;
    margin-top: $spacing-small;

    @include table-and-desktop() {
      font-size: $spacing-small + 0.3rem;
    }

    @include dark-mode-manual {
      color: lighten($text-color, 20%);
    }
  }

  &__favorite {
    @include flex-center;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      lighten($background-color, 10%),
      $background-color
    );
    font-size: $spacing-small;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    min-height: 80px;
    height: fit-content;
    width: 90%;
    max-width: 100%;
    gap: $spacing-small;
    order: 1;

    @include table-and-desktop() {
      font-size: 1rem;
      padding: 20px 40px;
      min-height: 80px;
      height: fit-content;
      width: 450px;
      gap: $spacing-base;
      flex-basis: 100%;
    }

    @include dark-mode-manual {
      background: linear-gradient(
        to bottom,
        lighten($background-darkmode-color, 10%),
        $background-darkmode-color
      );
      color: $text-color;
    }
  }

  &__button-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: $primary-color;
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  &__modal-content {
    @include flex-center;
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      lighten($background-color, 0%),
      $background-color
    );
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: fit-content;
    width: 350px;
    max-width: 100%;
    animation: modalSlideIn 0.3s ease-out;

    @include table-and-desktop() {
      font-size: 1.6rem;
      height: fit-content;
      width: 400px;
      max-width: 100%;
    }

    @include dark-mode-manual {
      background: linear-gradient(
        to bottom,
        lighten($background-darkmode-color, 0%),
        $background-darkmode-color
      );
      color: $text-color;
    }
  }

  &__modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 85%;
    color: $background-color;
    text-shadow: -2px -2px 0 $text-shadow-color, 2px -2px 0 $text-shadow-color,
      -2px 2px 0 $text-shadow-color, 2px 2px 0 $text-shadow-color,
      -2px 0 0 $text-shadow-color, 2px 0 0 $text-shadow-color,
      0 -2px 0 $text-shadow-color, 0 2px 0 $text-shadow-color;
    border-bottom: 1px solid #eee;

    @include dark-mode-manual {
      color: lighten($background-darkmode-color, 5%);
    }
  }

  &__modal-title {
    margin: 0;
    font-size: 1.7rem;
  }

  &__modal-subtitle {
    margin: 0;
    font-size: 1.5rem;
  }

  &__modal-close {
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: lighten($primary-color, 10%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include dark-mode-manual {
      color: lighten($primary-darkmode-color, 5%);
    }
  }

  &__modal-close:hover {
    color: $primary-color;
    transform: scale(1.3);

    @include dark-mode-manual {
      color: lighten($primary-darkmode-color, 5%);
    }
  }

  &__modal-body {
    width: 85%;
    padding: 1rem 1.2rem;
  }

  &__setting-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__setting-label {
    font-size: 1.2rem;
    color: lightcyan;

    @include dark-mode-manual {
      color: lighten($text-color, 20%);
    }
  }

  &__switch {
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }

  &__setting-toggle {
    appearance: none;
    height: 1.5rem;
    width: 2.8rem;
    background-color: lighten($text-color, 30%);
    position: relative;
    border-radius: 0.2em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    @include dark-mode-manual {
      background-color: lighten($text-color, 10%);
    }
  }

  &__setting-toggle::before {
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.2rem / 2 + 0.2rem);
    background-color: lighten($primary-color, 15%);
    border-radius: 0.2em;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;

    @include dark-mode-manual {
      background-color: $background-darkmode-color;
    }
  }

  &__setting-toggle:checked::before {
    background-color: $background-color;
    left: calc(100% - (1.2rem / 2 + 0.2rem));
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    @include dark-mode-manual {
      background-color: $primary-darkmode-color;
    }
  }

  @keyframes modalSlideIn {
    from {
      transform: translateX(500px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
